h1 {
    color: #16213E;
}

* {
  margin: 0;
  padding: 0;
}

#game > button {
  background-color: #B4CDE6;
  border: 2px solid #111;
  border-radius: 8px;
  border-sizing: border-box;
  color: #16213E;
  cursor: pointer;
  font-family: "Trebuchet MS";
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  touch-action: manipulation;  
}

#game > button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

#game > button:hover:after {
  transform: translate(0, 0);
}

#game > button:hover {
  outline: 0;
}

#game, #login {
  text-align: center;
}

#login > p {
  font-family: "Trebuchet MS";
}

body > header {
  text-align: center;
  background-color: #B4CDE6;
  padding: 20px;
  font-family: "Trebuchet MS";
}

.sec {
  padding: 20px 20px;
}
